body{
    display: flex;
    height: 100vh;
    background: linear-gradient(
        var(--background-color-dark-green) 0%,
        var(--background-color-dark-green) 20%,
        var(--background-color-light-green) 20%,
        var(--background-color-light-green) 100%
    );
}

/*+ APP */
.app{
    width: 100%;
    display: flex;
    background-color: white;
}

.col{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col > div{
    width: 100%;
}

/*+ COL */
.col .top-section{
    flex-shrink: 0;
    background-color: var(--color-light);
}
.col .user{
    padding: .4375rem;
    display: flex;
    align-items: center;
}
.col .user img{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}
.col .user .text{
    padding-left: 1.25rem;
}
.col .user .text .description{
    font-size: var(--font-xs);
    color: var(--color-gray);
}
.col .buttons i{
    color: var(--color-gray);
    padding-right: 0.9rem;
}

/*+ CHAT */
.app .col.chat{
    width: 100%;
}

/*> top-section */

/*> messages-section */
.chat .messages-section{
    background-image: url(../../img/mine.jpg);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

/*> input-section */
.chat .input-section{
    height: 70px;/*BUG*/
    flex-shrink: 0;
    background-color: white;
    display: flex;
}
.chat .input-section input{
    width: 100%;
    padding: 1.875rem;
}

/*+ MENU */
.menu{
    border-right: 1px solid var(--color-gray);
}
/*> top-section */
/*> notify-section */
.menu .notify-section{
    height: 70px;
    background-color: var(--color-azure);
    flex-shrink: 0;
}
/*> search-section */
.menu .search-section{
    height: 50px;
    background-color: black;
    flex-shrink: 0;
}

/*> chats-section */
.menu .chats-section{
    height: 100%;
    overflow-y: auto;
}
