body{
    display: flex;
    height: 100vh;
}

/*+ APP */
.app{
    width: 100%;
    display: flex;
    background-color: white;
}

.app .col{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app .col > div{
    width: 100%;
}

/*+ CHAT */
.app .col.chat{
    width: 100%;
}

/*> top-section */
.chat .top-section{
    height: 70px;/*BUG*/
    flex-shrink: 0;
    background-color: var(--color-light);
}

/*> messages-section */
.chat .messages-section{
    background-image: url(../../img/mine.jpg);
    height: 100%;
    width: 100%;
}

/*> input-section */
.chat .input-section{
    height: 70px;/*BUG*/
    flex-shrink: 0;
    background-color: white;
}

