:root{
    /* colors */
    --color-green: #d4f9bb;
    --color-light: #eaeaea;
    --color-gray: #b1b1b1;
    --background-color-dark-green: 009588;

    /* font sizes */
    --font-xs: .875rem;
    --font-s: .9375rem;
    --font-default: 1rem;
    --font-large: 17px;
}